.document {
    padding: 0.75rem 1.75rem;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.documentHeading {
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
}

.documentContent {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-block: 1rem;
    overflow: hidden;
}

.documentTable {
    gap: 0.5rem;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    min-width: 500px;
}

.documentTable > * {
    width: 100%;
    display: flex;
}

.nameCell, .contentCell {
    padding: 0.25rem;
    box-sizing: border-box;
    border: 1px solid #000;
    word-break: break-all;
}

.nameCell {
    min-width: 200px;
    border-right: 0;
}

.contentCell {
    width: 100%;
}

.documentImages {
    overflow-y: scroll;
}

.documentImages > img {
    width: 100%;
}
