.docTypeCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    padding: 0.5rem 0.25rem;
    box-sizing: border-box;
    gap: 1rem;
    border-radius: 0.25rem;
    transition: 200ms ease-in-out;
    text-align: center;
}

.docTypeCard:hover {
    cursor: pointer;
    background-color: var(--gray);
}

.docTypeGrid {
    display: grid;
    grid-gap: 0.5rem;
    align-items: stretch;
    padding-block: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}